<div ng-include="'partials/navbar'"></div>

<div class="jumbotron" ng-show="!currentUser">





  <h1>SIGN UP FOR BLOOPI OR DIE TRYING</h1>
</div>

<!-- <div class="footer">
  <p>♥ from the Yeoman team</p>
</div> -->

<div class="chatbox" ng-show="currentUser">
  <ul id="messages">
    <li ng-repeat="message in messages track by $index">
      <strong>{{message.user.name}}</strong>: {{message.content}}
      <br ng-show="{{message.image != ''}}" \>
      <br ng-show="{{message.image != ''}}" \>
      <img ng-show="{{message.image != ''}}" ng-src="{{message.image}}">
    </li>
  </ul>
  <form  id="type-box" action="" ng-submit="sendMessage()">
    <input placeholder="BLOOPY MESSAGE" class="msgInput" autocomplete="off" ng-model="message.content" />
    <input placeholder="IMAGE URL" autocomplete="off" class="msgInput" ng-model="message.image" />
    <button>Send</button>
  </form>

<!--   <form  id="type-box" action="" ng-submit="pickFile()">
    <button>Upload File</button>
  </form> -->
<!--   <span ng-show="currentUser">{{ currentUser.name }}</span>! -->
</div>

<script src="scripts/socketScript.js"></script>