<div ng-include="'partials/navbar'"></div>




<span ng-show="!currentUser" ><br /><br /><br /><br /><br /><br /><br /><br /></span>
<div class="jumbotron jumbo" ng-show="!currentUser">
  <h2>SIGN UP FOR BLOOPI OR DIE TRYING</h2>
</div>

<!-- <div class="footer">
  <p>♥ from the Yeoman team</p>
</div> -->

<div class="chatbox" ng-show="currentUser">
  <br /><br /><br />
  <ul id="messages" class="animated fadeInUp">
    <li ng-repeat="message in messages track by $index" class="animated fadeInUp">
      <span class="username">{{message.user.name}}:</span> {{message.content}}
      <br ng-show="{{message.image != ''}}" />
      <br ng-show="{{message.image != ''}}" />
      <center><img ng-show="message.image != ''" ng-src="{{message.image}}"></center>
    </li>
  </ul>
  <br /><br /><br /><br />


<!--   <form  id="type-box" action="" ng-submit="pickFile()">
    <button>Upload File</button>
  </form> -->
<!--   <span ng-show="currentUser">{{ currentUser.name }}</span>! -->
</div>

<div class="previewImg animated" ng-show="message.image != ''" ng-class="{ 'fadeInUp' : message.length != '' }">
  <span class="previewText">Image Preview:</span>
  <br /><br />
  <img ng-if="message.image != ''" ng-src="{{message.image}}">
</div>



<footer ng-show="currentUser">

    <form id="type-box" action="" ng-submit="sendMessage()">
      <ul>
        <li>
          <input placeholder="BLOOPI MESSAGE" class="form-control input-lg" autocomplete="off" ng-model="message.content" />
        </li>
<!--         <li>
          <input placeholder="IMAGE URL" autocomplete="off" class="form-control input-lg" ng-model="message.image" />
        </li> -->
        <li>
          <input type="button" class="btn btn-lg btn-primary" ng-click="uploadImage()" value="Image" />
        </li>
        <li>
          <button type="submit" class="btn btn-lg btn-primary" >Send</button>
        </li>
      </ul>
    </form>

</footer>
<div id="gradient"></div>
