<div ng-include="'partials/navbar'"></div>



<br><br><br><br><br><br><br><br>

<div class="jumbotron jumbo" ng-show="!currentUser">
  <h2>SIGN UP FOR BLOOPI OR DIE TRYING</h2>
</div>

<!-- <div class="footer">
  <p>♥ from the Yeoman team</p>
</div> -->

<div class="chatbox" ng-show="currentUser">
  <ul id="messages">
    <li ng-repeat="message in messages track by $index">
      <strong>{{message.user.name}}</strong>: {{message.content}}
      <br ng-show="{{message.image != ''}}" \>
      <br ng-show="{{message.image != ''}}" \>
      <img ng-show="{{message.image != ''}}" ng-src="{{message.image}}">
    </li>
  </ul>


<!--   <form  id="type-box" action="" ng-submit="pickFile()">
    <button>Upload File</button>
  </form> -->
<!--   <span ng-show="currentUser">{{ currentUser.name }}</span>! -->
</div>



<br><br><br><br>


<footer ng-show="currentUser">

    <form ng-show="currentUser" id="type-box" action="" ng-submit="sendMessage()">
      <input placeholder="BLOOPY MESSAGE" class="form-control input-lg" autocomplete="off" ng-model="message.content" />
      <input placeholder="IMAGE URL" autocomplete="off" class="form-control input-lg" ng-model="message.image" />
      <input type="button" class="btn btn-lg btn-primary" ng-click="uploadImage()" value="Upload Image" />
      <button type="submit" class="btn btn-lg btn-primary" >Send</button>
    </form>

</footer>
<div id="gradient"></div>
